@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family:  'Ubuntu', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef5ff;
}

.container-flex {
    display: flex;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 55rem;
    margin: 4rem;
}

/* styling for the side bar  */

.sidebar {
    width: 274px;
    height: 568px;
    background: url("assets/images/bg-sidebar-desktop.svg");
}

.step-1-flex, .step-2-flex, .step-3-flex, .step-4-flex {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.step-1-flex {
    margin-top: 1rem;
}

.step1{
    margin-left: 1rem;
}

.step1 h3 {
    margin-top: 0;
    color: white;
}

.step1 p {
    margin-bottom: 0;
    color: hsl(231, 11%, 63%);
}

.sidebar .sidebar-btn-active {
    color: black;
    background-color: white;
}

.sidebar button {
    border-radius: 50%;
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
/* end of side bar styling  */

/* styling for the info section  */

.info-container {
    margin-left: 6rem;
    margin-top: 1.2rem;
    transition: opacity 1s;
}

form {
    display: flex;
    flex-direction: column;
}

.info-container h1, .select-plan h1, .select-plan-yearly h1, .add-ons-container h1, .add-ons-container-yearly h1, .summary-container h1 {
    margin-bottom: 0;
    color: hsl(213, 96%, 18%);;
}

.info-container p, .select-plan p, .select-plan-yearly p, .add-ons-container p, .add-ons-container-yearly p, .summary-container p, .text-content a, .thank-you-container p {
    margin-top: 0.5;
    margin-bottom: 2rem;
    color: hsl(231, 11%, 63%);
}

form span {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

form input {
    margin-bottom: 1.5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid hsl(232, 24%, 81%);
    padding-left: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.form-btn {
    width: 7rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: hsl(213, 96%, 18%);
    margin-left: 74%;
    margin-top: 8rem;
}

.active.info-container {
    visibility: hidden;
    opacity: 0;
}
/* end of styling for info section */

/* styling for the plan section  */

.select-plan, .select-plan-yearly, .add-ons-container, .add-ons-container-yearly, .summary-container, .thank-you-container {
    position: absolute;
    background-color: white;
    margin-top: 1.2rem;
    left: 45%;
    padding-right: 1.2rem;
    transition: opacity 1s;
}

.cards-plan {
    display: flex;
}

.arcade, .advanced, .pro {
    height: 9rem;
    width: 6rem;
    border: 1px solid hsl(232, 24%, 81%);
    border-radius: 10px;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.active.arcade, .active.advanced, .active.pro {
    background-color: hsl(206, 94%, 87%);
}

.arcade:hover, .advanced:hover, .pro:hover {
    border: 2px solid hsl(206, 94%, 87%);
}

.advanced, .pro {
    margin-left: 1rem;
}

.arcade h3, .advanced h3, .pro h3 {
    margin-top: 4rem;
    color: hsl(213, 96%, 18%);;
    margin-bottom: 0.5rem;
}

.arcade small, .advanced small, .pro small {
    color: hsl(232, 24%, 81%);
}

.monthly-yearly-switch {
    display: flex;
    background-color: hsl(206, 94%, 87%);
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.monthly {
    margin-right: 2rem;
    padding-top: 1rem;
    font-weight: bold;
    
}

#monthly {
    color: hsl(213, 96%, 18%);
}


.yearly {
    margin-left: 2rem;
    padding-top: 1rem;
    font-weight: bold;
}

#yearly {
    color: hsl(213, 96%, 18%);
}

.label {
    width: 2.2rem;
    height: 1.1rem;
    background-color: hsl(213, 96%, 18%);
    position: absolute;
    border-radius: 2rem;
    left: 45%;
}

.circle {
    width: 0.8rem;
    height: 0.8rem;
    top: 2px;
    left: 2px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: toggleOffs 0.4s linear forwards;
}

#checkbox {
    visibility: hidden;
}

.input:checked + .label .circle {
    animation: toggleOns 0.4s linear forwards;
}

@keyframes toggleOns {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1.1rem);
    }
    
}

@keyframes toggleOffs {
    0%{
        transform: translateX(1.1rem);
    }
    100%{
        transform: translateX(0);
    }
    
}


.backward {
    text-decoration: none;
    color: hsl(231, 11%, 63%);
    position: absolute;
    bottom: 2%;
}

.plan-btn {
    width: 7rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: hsl(213, 96%, 18%);
    margin-left: 78%;
    margin-top: 8rem;
}

.active.select-plan {
    visibility: hidden;
    opacity: 0;
}
/* yearly plan styling  */

.select-plan-yearly .arcade h3, .select-plan-yearly .advanced h3, .select-plan-yearly .pro h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.select-plan-yearly .arcade p, .select-plan-yearly .advanced p, .select-plan-yearly .pro p {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.label-yearly {
    width: 2.2rem;
    height: 1.1rem;
    background-color: hsl(213, 96%, 18%);
    position: absolute;
    border-radius: 2rem;
    left: 45%;
}

.circle-yearly {
    width: 0.8rem;
    height: 0.8rem;
    top: 2px;
    left: 19px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: toggleOff 0.4s linear forwards;
}

#checkbox-yearly {
    visibility: hidden;
}

.input-yearly:checked + .label-yearly .circle-yearly {
    animation: toggleOn 0.4s linear forwards;
}

@keyframes toggleOn {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1rem);
    }
    
}

@keyframes toggleOff {
    0%{
        transform: translateX(-1.1rem);
    }
    100%{
        transform: translateX(0);
    }
    
}

.active.select-plan-yearly {
    visibility: hidden;
    opacity: 0;
}
/* end of plan styling  */

/* styling for Add-ons section  */

.add-ons-container, .summary-container, .thank-you-container {
    width: 27.385rem;
}

.cards {
    display: flex;
    height: 3rem;
    border-radius: 10px;
    align-items: center;
    border: 1px solid hsl(232, 24%, 81%);
    padding: 1rem;
    margin-bottom: 1rem;
}

.cards input {
    width: 1.2rem;
    height: 1.2rem;
}

.card-text {
    margin-left: 1rem;
}

.card-text h3 {
    margin: 0;
    color: hsl(213, 96%, 18%);
}

.cards .card-text p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: hsl(231, 11%, 63%);
}

.cards small {
    margin-left: 6rem;
}

.add-ons-btn {
    width: 7rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: hsl(213, 96%, 18%);
    margin-left: 78%;
    margin-top: 6rem;
}

.active.add-ons-container-yearly {
    visibility: hidden;
}

.active.add-ons-container {
    visibility: hidden;
    opacity: 0;
}
/* end of add-ons styling  */

/* styling for summary  */

.summary-card {
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
    padding: 0 1rem;
}

.summary-card-content1, .summary-card-content2, .summary-card-content3, .summary-card-content4 {
    background-color: hsl(231, 100%, 99%);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-card-content1 h3 {
    margin: 0 0 0.5rem;
    color: hsl(213, 96%, 18%);
}

.summary-card-content1 small {
    font-weight: bold;
    font-size: 1rem;
    color: hsl(213, 96%, 18%);
}

.summary-card-content2, .summary-card-content3 {
    height: 1rem;
}

.summary-card-content2 {
    border-top: 1px solid hsl(232, 24%, 81%);
    border-radius: 0;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.total strong {
    color: hsl(243, 100%, 62%);
}

.summary-btn {
    width: 7rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: hsl(243, 100%, 62%);
    margin-left: 78%;
    margin-top: 3rem;
}

.active.summary-container {
    visibility: hidden;
    opacity: 0;
}
/* end of styling for the summary section  */

/* styling for the thank you section  */

.thank-you-container {
    height: 34.567rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you-container p {
    text-align: center;
}

.active.thank-you-container {
    visibility: hidden;
    opacity: 0;
}

